.healthcare {
    padding: 80px 0 46px 0;
    @media (max-width: 570px) {
        padding-top: 30px;
    }
    // .healthcare__body
    &__body {
        text-align: center;
        margin-bottom: 46px;
    }
    // .healthcare__body-title
    &__body-title {
        font-weight: 700;
        @include adaptiv-font(44, 20);
        line-height: 126%;
        color: #000000;
        span{
            color: #EC5863;
        }
        margin-bottom: 14px;
        @media (max-width: 570px) {
            margin-bottom: 5px;
        }
    }
    // .healthcare__body-text
    &__body-text {
        max-width: 600px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 12px;
        line-height: 138.5%;
        letter-spacing: 0.08em;
        color: #616161;
    }
    // .healthcare__row
    &__row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include adaptiv-value(gap, 72, 20, 0)
    }
    &__decor-smleft{
        position: absolute;
        bottom: -40px;
        left: 0;
        @media (max-width: 1015px) {
            top: 230px;
            left: 130px;
        }
        @media (max-width: 661px) {
            top: 210px;
        }
    }
    &__decor-smright{
        position: absolute;
        top: -40px;
        right: 0;
        @media (max-width: 1015px) {
            bottom: 230px;
            right: 130px;
        }
        @media (max-width: 661px) {
            top: -20px;
            right: 115px;
        }
    }
    &__decor-mid{
        position: absolute;
        top: 30px;
        left: 250px;
        @media (max-width: 1015px) {
            top: 30px;
            left: 430px;
        }
        @media (max-width: 661px) {
            top: 61%;
            left: 110px;
        }
    }
    &__decor-big{
        position: absolute;
        bottom: -30px;
        right: 290px;
        @media (max-width: 1015px) {
            bottom: -40px;
            right: 270px;
        }
        @media (max-width: 661px) {
            right: 90px;
        }
    }
    // .healthcare__column
    &__column {
        display: flex;
    }
    // .healthcare__item
    &__item {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 36px 25px;
        background: #FFFFFF;
        box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
        border-radius: 8px;
    }
    // .healthcare__item-img
    &__item-img {
        margin-bottom: 58px;
    }
    // .healthcare__item-name
    &__item-name {
        font-weight: 700;
        font-size: 16px;
        line-height: 138.5%;
        letter-spacing: 0.08em;
        color: #000000;
        margin-bottom: 4px;
    }
    // .healthcare__item-text
    &__item-text {
        max-width: 250px;
        font-weight: 400;
        font-size: 12px;
        line-height: 138.5%;
        letter-spacing: 0.08em;
        color: #616161;
    }
}