.talk {
    padding: 100px 0 116px 0;
    @media (max-width: 570px) {
        padding: 30px 0;
    }
    background-color: #FAFBFD;
    // .talk__inner
    &__inner {
        @include adaptiv-value(padding-left, 43, 0, 1);
        @include adaptiv-value(padding-right, 43, 0, 1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 992px) {
            justify-content: center;
        }
    }
    // .talk__info
    &__info {
        position: relative;
        margin: 0 auto;
        flex: 0 1 760px;
        margin-bottom: 80px;
        @media (max-width: 570px) {
            flex-basis: 0;
        }
    }
    // .talk__decor-big
    &__decor-big{
        position: absolute;
        top: -18px;
        right: -70px;
        @media (max-width: 570px) {
            right: -50px;
        }
    }
    // .talk__decor-mid
    &__decor-mid{
        position: absolute;
        top: -45px;
        left: 250px;
        @media (max-width: 570px) {
            top: 25px;
            left: -50px;
        }
    }
    // .talk__decor-small
    &__decor-small{
        position: absolute;
        bottom: -26px;
        left: -30px;
        
    }
    // .talk__info-row
    &__info-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 0;
        @include adaptiv-value(padding-left, 80, 28, 1);
        @include adaptiv-value(padding-right, 80, 28, 1);
        background: #FFFFFF;
        box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
        border-radius: 16px;
        position: relative;
        z-index: 2;
        @media (max-width: 570px) {
            display: inline-flex;
            flex-direction: column;
        }
    }
    // .talk__info-item
    &__info-item {
        text-align: center;
        @media (max-width: 570px) {
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    // .talk__info-num
    &__info-num {
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 0.14em;
        color: #EC5863;
    }
    // .talk__info-text
    &__info-text {
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.37em;
        text-transform: uppercase;
        color: #000000;
    }
    // .talk__body
    &__body {
        max-width: 393px;
        @media (max-width: 992px) {
            margin-bottom: 20px; 
        }
    }
    // .talk__body-title
    &__body-title {
        font-weight: 700;
        @include adaptiv-font(44, 20);
        line-height: 126%;
        color: #000000;
        span{
            color: #587EEC;
        }
        margin-bottom: 12px;
        
        @media (max-width: 992px) {
            margin-bottom: 5px;
        }
    }
    // .talk__body-text
    &__body-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 138.5%;
        letter-spacing: 0.08em;
        color: #616161;
        margin-bottom: 24px;
        
        @media (max-width: 992px) {
            margin-bottom: 15px; 
        }
    }
    // .talk__video
    &__video {
        position: relative;
        a{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                border-radius: 50%;
                cursor: pointer;
                &:active{
                    transition: .3s;
                    transform: scale(0);
                }
            }
        }
    }
    // .talk__video-bg
    &__video-bg {
        padding: 24px 0;
        @include adaptiv-value(padding-left, 94, 24*2, 1);
        @include adaptiv-value(padding-right, 94, 24*2, 1);
        background: #FFFFFF;
        box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
        border-radius: 8px;
        img{
            @include adaptiv-value(width, 332, 232, 1);
            @include adaptiv-value(height, 235, 135, 1);
        }
    }
}